[submodule "Zegar"]
	path = Zegar
	url = https://github.com/Nekuskus/Zegar-SVG
[submodule "Blender"]
	path = Blender
	url = https://github.com/Nekuskus/Blender
[submodule "wykres_kolowy"]
	path = wykres_kolowy
	url = https://github.com/Nekuskus/wykres-kolowy
[submodule "inicjaly"]
	path = inicjaly
	url = https://github.com/Nekuskus/symbol-render
[submodule "JSONGenerator"]
	path = JSONGenerator
	url = https://github.com/Nekuskus/table-json-generator
[submodule "ftp-showcase"]
	path = ftp-showcase
	url = https://github.com/Nekuskus/PHP--FTP-Shell
[submodule "php-battleships"]
	path = php-battleships
	url = https://github.com/Nekuskus/PHP-Battleships.git
[submodule "Cash-Register"]
	path = Cash-Register
	url = https://github.com/Nekuskus/Cash-Register
